
@font-face {
	font-family: "Hotels-Web";
	src: url("../fonts/Hotels-Web.eot");
	src: url("../fonts/Hotels-Web.eot") format("embedded-opentype"),
	url("/hotelwebassets/Fonts/Hotels-Web.woff2") format("woff2"),
	url("/hotelwebassets/Fonts/Hotels-Web.ttf") format("truetype"),
	url("/hotelwebassets/Fonts/Hotels-Web.woff") format("woff"),
	url("/hotelwebassets/Fonts/Hotels-Web.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
:global {
	i {
		/* use !important to prevent issues with browser extensions that change fonts */
		font-family: "Hotels-Web" !important;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.x7:before {
		content: "\e900";
		color: #666;
	}
	.ac:before {
		content: "\e901";
		color: #666;
	}
	.airconditioning:before {
		content: "\e902";
		color: #666;
	}
	.americanExpress .path1:before {
		content: "\e903";
		color: rgb(77, 79, 83);
	}
	.americanExpress .path2:before {
		content: "\e904";
		margin-left: -2.763671875em;
		color: rgb(139, 141, 142);
	}
	.americanExpress .path3:before {
		content: "\e905";
		margin-left: -2.763671875em;
		color: rgb(0, 38, 99);
	}
	.Android:before {
		content: "\e906";
		color: #fff;
	}
	.Apple:before {
		content: "\e907";
		color: #fff;
	}
	.assurance:before {
		content: "\e908";
		color: #828282;
	}
	.bar:before {
		content: "\e909";
		color: #666;
	}
	.bathroom:before {
		content: "\e90a";
		color: #666;
	}
	.Blackberry:before {
		content: "\e90b";
		color: #fff;
	}
	.breakfast:before {
		content: "\e90c";
		color: #666;
	}
	.businesscentre:before {
		content: "\e90d";
		color: #666;
	}
	.care:before {
		content: "\e90e";
		color: #828282;
	}
	.checkinOut:before {
		content: "\e90f";
		color: #666;
	}
	.Cirtick:before {
		content: "\e910";
		color: #7ed321;
	}
	.close:before {
		content: "\e911";
		color: #002e6e;
	}
	.cross .path1:before {
		content: "\e912";
		color: rgb(206, 206, 212);
	}
	.cross .path2:before {
		content: "\e913";
		margin-left: -1em;
		color: rgb(255, 255, 255);
	}
	.digitalCredit:before {
		content: "\e914";
	}
	.face .path1:before {
		content: "\e915";
		color: rgb(1, 43, 114);
	}
	.face .path2:before {
		content: "\e916";
		margin-left: -0.9580078125em;
		color: rgb(0, 185, 245);
	}
	.facebook:before {
		content: "\e917";
		color: #fff;
	}
	.fillter:before {
		content: "\e918";
		color: #fff;
	}
	.gym:before {
		content: "\e919";
		color: #666;
	}
	.handle:before {
		content: "\e91a";
		color: #00b9f5;
	}
	.hotelLogo .path1:before {
		content: "\e91b";
		color: rgb(255, 255, 255);
	}
	.hotelLogo .path2:before {
		content: "\e91c";
		margin-left: -3.5126953125em;
		color: rgb(0, 185, 245);
	}
	.ic-today:before {
		content: "\e91d";
	}
	.instagram:before {
		content: "\e91e";
		color: #fff;
	}
	.Java:before {
		content: "\e91f";
		color: #fff;
	}
	.laundry:before {
		content: "\e920";
		color: #666;
	}
	.logoColored .path1:before {
		content: "\e921";
		color: rgb(0, 186, 242);
	}
	.logoColored .path2:before {
		content: "\e922";
		margin-left: -3.130859375em;
		color: rgb(0, 186, 242);
	}
	.logoColored .path3:before {
		content: "\e923";
		margin-left: -3.130859375em;
		color: rgb(32, 51, 107);
	}
	.logoColored .path4:before {
		content: "\e924";
		margin-left: -3.130859375em;
		color: rgb(32, 51, 107);
	}
	.logoColored .path5:before {
		content: "\e925";
		margin-left: -3.130859375em;
		color: rgb(32, 51, 107);
	}
	.man:before {
		content: "\e926";
		color: #002e6e;
	}
	.mastercard-securecode .path1:before {
		content: "\e927";
		color: rgb(238, 159, 45);
	}
	.mastercard-securecode .path2:before {
		content: "\e928";
		margin-left: -2.6669921875em;
		color: rgb(217, 34, 42);
	}
	.parking:before {
		content: "\e929";
		color: #666;
	}
	.pci-dss .path1:before {
		content: "\e92a";
		color: rgb(22, 101, 109);
	}
	.pci-dss .path2:before {
		content: "\e92b";
		margin-left: -2.5em;
		color: rgb(45, 181, 77);
	}
	.pinterest:before {
		content: "\e92c";
		color: #fff;
	}
	.promise:before {
		content: "\e92d";
		color: #828282;
	}
	.restaurant:before {
		content: "\e92e";
		color: #666;
	}
	.room-service:before {
		content: "\e92f";
		color: #666;
	}
	.roomservice:before {
		content: "\e930";
		color: #666;
	}
	.RuPayLogo .path1:before {
		content: "\e931";
		color: rgb(0, 137, 64);
	}
	.RuPayLogo .path2:before {
		content: "\e932";
		margin-left: -0.70703125em;
		color: rgb(243, 103, 23);
	}
	.RuPayLogo .path3:before {
		content: "\e933";
		margin-left: -0.70703125em;
		color: rgb(33, 49, 125);
	}
	.RuPayLogo .path4:before {
		content: "\e934";
		margin-left: -0.70703125em;
		color: rgb(33, 49, 125);
	}
	.RuPayLogo .path5:before {
		content: "\e935";
		margin-left: -0.70703125em;
		color: rgb(33, 49, 125);
	}
	.RuPayLogo .path6:before {
		content: "\e936";
		margin-left: -0.70703125em;
		color: rgb(33, 49, 125);
	}
	.RuPayLogo .path7:before {
		content: "\e937";
		margin-left: -0.70703125em;
		color: rgb(33, 49, 125);
	}
	.sauna:before {
		content: "\e938";
		color: #666;
	}
	.search:before {
		content: "\e939";
		color: #002e6e;
	}
	.serves:before {
		content: "\e93a";
		color: #666;
	}
	.swimmingpool:before {
		content: "\e93b";
		color: #666;
	}
	.time:before {
		content: "\e93c";
		color: #666;
	}
	.trust:before {
		content: "\e93d";
		color: #828282;
	}
	.tv:before {
		content: "\e93e";
		color: #666;
	}
	.twitter:before {
		content: "\e93f";
		color: #fff;
	}
	.verified-by-visa .path1:before {
		content: "\e940";
		color: rgb(0, 87, 159);
	}
	.verified-by-visa .path2:before {
		content: "\e941";
		margin-left: -2.22265625em;
		color: rgb(250, 166, 26);
	}
	.wallet .path1:before {
		content: "\e942";
		color: rgb(1, 43, 114);
	}
	.wallet .path2:before {
		content: "\e943";
		margin-left: -1.2001953125em;
		color: rgb(0, 185, 245);
	}
	.wifi:before {
		content: "\e944";
		color: #666;
	}
	.Windows:before {
		content: "\e945";
		color: #fff;
	}
}