*{
	font-family: calibri;
}
::selection
{
	background:#0F6CDB !important;
	color:#FFF !important;
}
/*********************************
3. Header
*********************************/

.header
{
	position: fixed;
	width: 100%;
	background: rgba(255, 255, 255, 0.9);
	z-index: 12;
}
.header.scrolled
{
	background: rgba(255, 255, 255, 0.85);
}

/*********************************
3.1 Top Bar
*********************************/

.top_bar
{
	width: 100%;
	height: 36px;
	background: #1f0733;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled .top_bar
{
	visibility: hidden;
	opacity: 0;
	height: 0px;
}
.phone
{
	display: inline-block;
	margin-right: 36px;
	line-height: 36px;
	font-size: 12px;
	font-weight: 600;
	color: #FFFFFF;
}
.social_list_item
{
	position: relative;
	display: inline-block;
	margin-right: 3px;
}
.social_list_item:last-child
{
	margin-right: 0px;
}
.social_list_item a
{
	display: block;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 36px;
}
.social_list_item:hover a i
{
	color: #fa9e1c;
}
.social_list_item a i
{
	font-size: 14px;
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.social_list_item a:hover
{
	color: #FFFFFF;
}
.user_box_link
{
	display: inline-block;
}
.user_box_link a
{
	display: block;
	font-size: 12px;
	line-height: 36px;
	font-weight: 600;
	color: #FFFFFF;
	text-transform: uppercase;
}
.user_box_link a:hover
{
	color: #fa9e1c;
}
.user_box_login
{
	margin-right: 15px;
}
.user_box_login::after
{
	display: block;
	position: absolute;
	top: 12px;
	right: -9px;
	background: #FFFFFF;
	width: 1px;
	height: 11px;
	content: '';
}
.main_nav_col
{
	height: 90px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled .main_nav_col
{
	height: 100px;
}

/*********************************
3.2 Logo
*********************************/

.logo_container
{
	-webkit-transform: translateY(-6px);
	-moz-transform: translateY(-6px);
	-ms-transform: translateY(-6px);
	-o-transform: translateY(-6px);
	transform: translateY(-6px);
}
.header.scrolled .logo_container
{
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}
.logo
{
	padding-top:13px;
}
.logo a
{
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	color: #f4f4f8;
	font-weight: 800;
	text-transform: uppercase;
}
.logo a img
{
	display: inline-block;
	vertical-align: baseline;
	margin-right: 9px;
	-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	-ms-transform: translateY(2px);
	-o-transform: translateY(2px);
	transform: translateY(2px);
}

/*********************************
3.3 Main Nav
*********************************/

.main_nav_container
{
	margin-right: 50px;
}
.main_nav_item
{
	position: relative;
	display: inline-block;
	margin-right: 40px;
}
.main_nav_item:last-child
{
	margin-right: 0px;
}
.main_nav_item a
{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 600;
	color: #00206A;
	text-transform: uppercase;
	padding-bottom: 10px;
	padding-top: 10px;
}
.main_nav_item::after
{
	display: block;
	position: absolute;
	left: -1px;
	bottom: -11px;
	width: calc(100% + 2px);
	height: 2px;
	background: linear-gradient(to right, #fa9e1b, #8d4fff);
	content: '';
	opacity: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav_item:hover::after
{
	opacity: 1;
}
.content_search
{
	-webkit-transform: translateY(-1px);
	-moz-transform: translateY(-1px);
	-ms-transform: translateY(-1px);
	-o-transform: translateY(-1px);
	transform: translateY(-1px);
	cursor: pointer;
}
.header.scrolled .content_search
{
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}
.mag_glass
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.content_search img
{
	width: 17px;
	height: 17px;
}
.content_search:hover .mag_glass
{
	fill: #fa9e1c;
}
.search_form
{
	position: absolute;
	right: 15px;
	top: 120px;
	width: 237px;
	height: 40px;
	visibility: hidden;
	opacity: 0;
}
.search_form.active
{
	top: 105px;
	visibility: visible;
	opacity: 1;
}
.search_content_input
{
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	color: #1b0b32;
	padding-left: 20px;
	outline: none !important;
	border: none !important;
	box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
}
.bez_1
{
	-webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-moz-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-ms-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-o-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}

/*********************************
3.4 Menu
*********************************/

.hamburger
{
	display: none;
	-webkit-transform: translateY(-3px);
	-moz-transform: translateY(-3px);
	-ms-transform: translateY(-3px);
	-o-transform: translateY(-3px);
	transform: translateY(-3px);
	cursor: pointer;
	margin-left: 20px;
}
.header.scrolled .hamburger
{
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}
.hamburger i
{
	font-size: 24px;
	color: #FFFFFF;
}
.hamburger:hover i
{
	color: #fa9e1c;
}
.menu
{
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(to right, #fa9e1b, #8d4fff);
	z-index: 100;
	opacity: 0;
	visibility: hidden;
}
.menu.active
{
	opacity: 0.95;
	visibility: visible;
}
.menu_content
{
	width: 100%;
	height: 100%;
}
.menu_item
{
	position: relative;
	margin-bottom: 3px;
}
.menu_item:last-child
{
	margin-bottom: 0px;
}
.menu_logo
{
	margin-bottom: 28px;
}
.menu_logo a img
{
	width: 40px !important;
}
.menu_item a
{
	display: inline-block;
	position: relative;
	font-family: 'Beyond';
	font-size: 36px;
	color: #FFFFFF;
	font-weight: 400;
}
.menu_item a::after
{
	display: block;
	position: absolute;
	top: 60%;
	left: 0;
	width: 0;
	height: 4px;
	background: #FFFFFF;
	letter-spacing: 2px;
	content: '';
	z-index: 10;
	pointer-events: none;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 400ms ease;
}
.menu_item:hover a::after
{
	width: 100%;
}
.menu_close_container
{
	position: absolute;
	top: 94px;
	right: 122px;
	width: 21px;
	height: 21px;
	cursor: pointer;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.menu_close
{
	top: 9px;
	width: 21px;
	height: 3px;
	background: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close::after
{
	display: block;
	position: absolute;
	top: -9px;
	left: 9px;
	content: '';
	width: 3px;
	height: 21px;
	background: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close_container:hover .menu_close,
.menu_close_container:hover .menu_close::after
{
	background: #fa9e1c;
}
/*********************************
13. Footer
*********************************/

.footer
{
	width: 100%;
	padding-top: 50px;
	padding-bottom: 41px;
}
.footer_title
{
	font-size: 15px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
}

/*********************************
13.1 Footer - About
*********************************/

.footer_about
{
	padding-top: 60px;
}
.footer_logo
{
	position: absolute;
	left: 0;
	top: -24px;
}
.footer_about_text
{
	font-size: 14px;
	font-weight: 600;
	color: #FFFFFF;
}
.footer_social_item
{
	display: inline-block;
	width: 31px;
	height: 31px;
	border: solid 1px #fa9e1b;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-o-border-radius: 30px;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	margin-right: 9px;
}
.footer_social_item:last-child
{
	margin-right: 0px;
}
.footer_social_item a
{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}
.footer_social_item a i
{
	display: block;
	position: relative;
	color: #FFFFFF;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 12px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_social_item:hover
{
	background: #fa9e1b;
}
.footer_social_item:hover a i
{
	color: #31124b;
}

/*********************************
13.2 Footer - Blog
*********************************/

.footer_blog
{
	margin-top: 39px;
}
.footer_blog_item
{
	margin-bottom: 21px;
}
.footer_blog_item:last-child
{
	margin-bottom: 0px;
}
.footer_blog_image
{
	width: 60px;
	height: 60px;
	float: left;
}
.footer_blog_image img
{
	width: 100%;
}
.footer_blog_content
{
	padding-left: 81px;
}
.footer_blog_title
{
	margin-top: -4px;
	padding-left: 1px;
}
.footer_blog_title a
{
	font-size: 14px;
	font-weight: 400;
	color: #FFFFFF;
}
.footer_blog_title a:hover
{
	color: #fa9e1b;
}
.footer_blog_date
{
	font-size: 12px;
	font-weight: 400;
	color: #fa9e1b;
	margin-top: 7px;
}

/*********************************
13.3 Footer - Tags
*********************************/

.footer_menu
{
	padding-top:32px;
}
.footer_menu .footer_nav:before
{
	content: "\f072";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #fa9e1b;
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 0;
}
.footer_menu .footer_nav
{
	position:relative;
	border-bottom:1px solid #CCC;
	line-height:35px;
	padding-left: 20px;
}
.footer_menu .footer_nav a
{
	font-size: 14px;
	font-weight: 400;
	color: #fff;
}
.footer_menu .footer_nav a:hover
{
	color:#fa9e1b;
}
.footer_tags
{
	margin-top: 40px;
}
.tag_item
{
	height: 35px;
	float: left;
	margin-right: 9px;
	margin-bottom: 9px;
	border: solid 1px #fa9e1b;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.tag_item:hover
{
	background: #fa9e1b;
}
.tag_item a
{
	display: block;
	font-size: 12px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 33px;
	padding-left: 25px;
	padding-right: 25px;
}

/*********************************
13.4 Footer - Contact Info
*********************************/

.contact_info_list
{
	margin-top: 40px;
}
.contact_info_item
{
	margin-bottom: 22px;
}
.contact_info_icon
{
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
.contact_info_icon img
{
	display: block;
	width: 100%;
}
.contact_info_text,
.contact_info_text a
{
	color: #FFFFFF;
	line-height: 2.14;
	margin-top: -4px;
}
.contact_info_item:hover .contact_info_text,
.contact_info_item:hover .contact_info_text a
{
	color: #fa9e1b;
}

/*********************************
14. Copyright
*********************************/

.copyright
{
}
.copyright_content
{
	height: 40px;
}
.copyright_content div
{
	font-size: 12px;
	font-weight: 600;
	color: #FFF;
}
.footer_nav_container
{
	height: 40px;
}
.footer_nav
{
	
}
.footer_nav_list
{
	font-size: 0px;
}
.footer_nav_item
{
	display: inline-block;
	margin-right: 40px;
}
.footer_nav_item a
{
	font-size: 12px;
	font-weight: 600;
	color: #FFF;
	text-transform: uppercase;
	line-height: 2;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_nav_item a:hover
{
	color: #FFFFFF;
}
@media only screen and (max-width:992px)
{
	.logo
	{
		padding-top:0px;
	}
	.logo a img
	{
		width:100% !important;
	}
	.hamburger i
	{
		color:#fa9e1b;
	}
	.search_panel_content
	{
		height:auto;
	}
	.hamburger
	{
		text-align: right;
		width: 100%;
	}
}
.more_options
{
	margin-top: 41px;
}
.more_options_trigger
{
	display: inline-block;
    width: auto;
}
.more_options_trigger a
{
	font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-left: 18px;
}
.more_options_trigger a:before
{
	display: block;
    position: absolute;
    top: 7px;
    left: 0;
    width: 10px;
    height: 10px;
    content: '+';
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 8px;
    color: #FFFFFF;
    padding-left: 1px;
}
.more_options_list
{
    width: 100%;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
@media only screen and (max-width: 1730px)
{
	.more_options
	{
		width: 100%;
		margin-top: 10px;
	}
}
.error
{
	color: #fa9e1b;
    font-weight: 600;
    background: #FFF;
    padding: 3px 10px;
    border-radius: 3px;
}
/* Result */
.result .intro
{
	padding-top:0px;
	padding-bottom:50px;
}
.search-breadcrumb
{
	background:linear-gradient(to right, #002c, #8d4fff) !important;
	background:rgb(78, 36, 154) ;


	padding:15px 5px;
}
.search-breadcrumb h4
{
	color:#FFF;
	font-size:18px;
}
.search-breadcrumb h4.flight-class
{
	font-size:16px;
}
.search-breadcrumb h4.flight-class:nth-child(2)
{
	padding-left:18px;
}
.search-breadcrumb h4 small
{
	padding-left: 5px;
	padding-right: 5px;
    text-transform: uppercase;
    color: #cbb;
}
.search-breadcrumb h5
{
	margin-bottom:0px;
	font-size: 17px;
}
.search-breadcrumb h5 small
{
    color: #cbb;
}
.search-breadcrumb .btn-modify
{
	background:#fa9e1b;
	border-radius:27px;
	color:#FFF;
	padding: 10px 46px;
	line-height:26px;
	cursor:pointer;
}
.search-breadcrumb .btn-modify:hover
{
	opacity: 0.9;
}
.search-breadcrumb .plane
{
	float:right;
	color:#fa9e1b;
	font-size:45px;
}
.fa-rotate-45
{
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.flight-details
{
    padding: 30px 5px;
}
.flight-details .flight-filter h3
{
	background: #fa9e1b;
    color: #FFF;
    padding: 6px 5px;
    text-align: center;
	border-radius: 4px;
	font-family: calibri;
    font-size: 21px;
    margin-bottom: 15px;
}
.flight-details .flight-filter .filter h4
{
	background:#00206A;
	color:#FFF;
	padding:8px 15px;
}
.filter
{
	border: 1px solid #CCC;
	margin-bottom:20px;
	box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.1);
	border-bottom:2px solid #fa9e1b;
}
.filter:hover
{
	box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.2);
}
.filter .slider-time, .filter .slider-time2
{
	color: #fff;
    font-size: 14px;
    line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: #fa9e1b;
    border-radius: 3px;
	margin-bottom:10px;
}
.filter .inner-filter
{
	padding:10px 20px;
}
.checkcontainer
{
	display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
	font-weight:600;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	color:#00206A;
}
.checkcontainer input
{
	position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkcontainer input:checked ~ .checkmark
{
	background-color: #fa9e1b;
	border: 1px solid #f29410;
}
.checkmark
{
	position: absolute;
    top: 3px;
    left: 0;
    height: 18px;
    width: 18px;
	background-color: #eee;
    border: 1px solid #CCC;
    border-radius: 3px;
}
.checkcontainer input:checked ~ .checkmark:after
{
	display:block;
}
.checkcontainer .checkmark:after
{
	left: 5px;
    top: 1px;
    width: 6px;
    height: 11px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.checkmark:after
{
    content: "";
    position: absolute;
    display: none;
}
.airlines-list .title-bar
{
	background:#fa9e1b;
	padding:8px 15px;
	border-radius: 4px;
	margin-bottom:20px;
}
.airlines-list .bar-heading h5
{
	font-size:18px;
	color:#FFF;
	font-weight:600;
	font-family: calibri;
	text-align:center;
	margin-bottom:0px;
}
.flight-list
{
	background:#F5F5F5;
	text-align:center;
	border:1px solid #CCC;
	padding:10px 15px;
	border-bottom: 3px solid #00206A;
    box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.1);
	margin-bottom:20px;
}
.flight-list .col-md-2, .flight-list .col-md-8, .title-bar .col-md-2, .flight-list .col-md-1
{
	padding-left:3px;
	padding-right:3px;
}
.flight-list p
{
	margin-bottom:5px;
	color:#000;
	line-height:20px;
}
.flight-list .flight-name .flight-logo
{
	height:25px;
	margin:0 auto;
	margin-bottom:5px;
}
.flight-list .flight-depart .fa-plane
{
	color:#fa9e1b;
	font-size:16px;
}
.flight-list .flight-price .fa-inr
{
	color:#fa9e1b;
	font-size:22px;
}
.flight-list .flight-price .flight-price-heading
{
	color:#00206A;
	font-size:20px;
	font-weight:600;
}
.flight-list .flight-depart .flight-depart-heading, .flight-list .flight-arrival .flight-arrival-heading, .flight-list .flight-duration .flight-duration-heading
{
	font-weight:600;
}
.flight-list .flight-book .details
{
	font-weight:600;
	color:#FF0000;
	font-size:13px;
}
.flight-list .flight-book .flight-book-btn
{
	background:#00206A;
	border-color:#00206A;
	color:#FFF;
	padding:5px 20px;
}
.flight-list .flight-book .flight-book-btn:hover
{
	background:#fa9e1b;
	border-color:#fa9e1b;
	color:#FFF;
}
.flight-list .flight-depart .flight-depart-text
{
	color:#00206A;
	font-weight:600;
}
.flight-list .trip-title
{
	display: inline-block;
    background: #00206A;
    font-weight: 600;
    font-size: 18px;
    color: #FFF;
    padding: 6px 10px;
    border-radius: 4px;
}
.flight-list .flight-name .flight-name-heading
{
	color:#00206A;
	font-weight:600;
}
.flight-list .flight-fare
{
	text-align:left;
	border-top:1px solid #CCC;
	padding-top:8px;
}
.flight-list .flight-fare .fare-rules
{
	color:#00206A;
	font-size:14px;
	font-weight:600;
	text-align:center;
}
.flight-list .flight-fare .airline-mark span
{
	color:#000;
	font-weight:400;
}
.flight-list .flight-fare .airline-mark
{
	color:#00206A;
	font-size:14px;
	font-weight:600;
}
.flight-list .flight-fare .fare-type.non-refundable
{
	color:red;
}
.flight-list .flight-fare .fare-type.refundable
{
	color:green;
}
.flight-list .flight-fare .fare-type
{
	font-size:13px;
	font-weight:600;
	text-align:right;
}
.no-flight
{
	min-height:400px;
	background:#00206A;
	padding:140px 0px;
	text-align:center;
}
.no-flight h3
{
	font-size:40px;
}
.btn-back
{
	font-size: 25px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background: #fa9e1b;
	border:1px solid #fa9e1b;
    border: none;
    outline: none;
    cursor: pointer;
	padding:10px 50px;
    border-radius: 27px;
	line-height: 37px;
}
.btn-back:hover
{
	background:#FFF;
	color:#fa9e1b;
}
.modify-flight
{
	background:linear-gradient(to right, #002c, #8d4fff);
}
.result-modify
{
	margin:30px 0px 0px;
	display:none;
}
.result-modify .search_panel
{
	padding:30px 30px 45px;
	border-radius: 10px;
}
.result-modify .search
{
	position:relative;
	top:0;
}
/*tooltip*/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #4fb9fa;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
 /* opacity: 0;*/
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.cheap-flight
{
	position: fixed;
    z-index: 1;
    width: 100%;
    bottom: 0;
	left:0;
	padding-left:0px;
	padding-right:0px;
}
.cheap-flight .flight-list
{
	margin-bottom:0px;
	border-left:0;
	border-right:0;
	background: #FEE1BE;
	border-bottom:2px solid #fa9e1b;
}
.cheap-flight .cheap-flight-return-icon
{
	color: #fa9e1b;
    font-size: 40px;
}
.cheap-flight .flight-list .flight-price .flight-price-heading
{
	font-size:18px;
}
.cheap-flight .flight-list .flight-book .flight-book-btn
{
	padding: 16px 15px;
    font-size: 20px;
	line-height: 0px;
}
.main_nav .content_search
{
	display:none;
}
@media only screen and (max-width: 992px)
{
	.flight-list .col-lg-3, .flight-list .col-md-3
	{
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.flight-list .col-lg-4, .flight-list .col-md-4
	{
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
	.flight-list .col-lg-5, .flight-list .col-md-5
	{
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%;
	}
	.flight-list .col-lg-2, .flight-list .col-md-2
	{
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}
	.flight-list .col-lg-1, .flight-list .col-md-1
	{
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}
	.flight-list .col-md-7
	{
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
	}
	.flight-list .col-md-8
	{
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}
	.flight-list .flight-book .flight-book-btn
	{
		padding:5px;
	}
	#res-two
	{
		order:2;
	}
	#res-one
	{
		order:1;
	}
	.res-none
	{
		display:none;
	}
	.title-bar .col-md-2
	{
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
	.res-mb-20
	{
		margin-bottom:20px;
	}
	.cheap-flight .cheap-flight-return-icon
	{
		font-size: 18px;
	}
	.cheap-flight .flight-list .flight-price .flight-price-heading
	{
		font-size:12px;
	}
	.cheap-flight .flight-list .flight-depart .flight-depart-text
	{
		font-size:10px;
	}
	.cheap-flight .flight-list .flight-price .fa-inr
	{
		font-size:16px;
	}
	.cheap-flight .flight-list .flight-name .flight-name-heading
	{
		font-size:10px;
	}
	.cheap-flight .flight-list .flight-book .flight-book-btn
	{
		font-size:12px;
		padding:10px 8px;
	}
	.cheap-flight .flight-list p
	{
		font-size:11px;
	}
	.flight-list .trip-title
	{
		font-weight: 500;
		font-size: 12px;
		color: #FFF;
		padding: 4px 8px;
	}
	.tooltip
	{
	  white-space:nowrap;
	}
	.flight-list .flight-depart .flight-depart-text
	{
		word-break: break-all;
	}
	.flight-list .flight-price .flight-price-heading
	{
		font-size:16px;
	}
	.flight-list .flight-price .fa-inr
	{
		font-size:18px;
	}
}
/* Result */
/* Hotel Result */
.hotel-result .intro
{
	padding-top: 0px;
	padding-bottom: 50px;
}

.hotel-search-breadcrumb {
	background: linear-gradient(to right, #002c, #8d4fff) !important;
	background:rgb(78, 36, 154) ;
	padding: 15px 5px;
}

.hotel-search-breadcrumb h4 i {
	color: #fa9e1b;
	margin-right: 5px;
	font-size: 20px;
}

.hotel-search-breadcrumb h4 {
	color: #FFF;
	font-size: 18px;
	line-height: 46px;
	margin-bottom: 0px;
}

.hotel-search-breadcrumb h4.flight-class {
	font-size: 16px;
}

.hotel-search-breadcrumb h4.flight-class:nth-child(2) {
	padding-left: 18px;
}

.hotel-search-breadcrumb h4 small {
	padding-left: 5px;
	padding-right: 5px;
	text-transform: uppercase;
	color: #cbb;
}

.hotel-search-breadcrumb h5 {
	margin-bottom: 0px;
	font-size: 17px;
}

.hotel-search-breadcrumb h5 small {
	color: #cbb;
}

.hotel-search-breadcrumb .btn-modify {
	background: #fa9e1b;
	border-radius: 27px;
	color: #FFF;
	padding: 10px 46px;
	line-height: 26px;
	cursor: pointer;
}

.hotel-search-breadcrumb .btn-modify:hover {
	opacity: 0.9;
}

.hotel-search-breadcrumb .bed {
	color: #fa9e1b;
	font-size: 45px;
	margin-right: 0px;
}

.hotel-result-details {
	padding: 30px 5px;
}

.hotel-result-details .flight-filter h3 {
	background: #fa9e1b;
	color: #FFF;
	padding: 6px 5px;
	text-align: center;
	border-radius: 4px;
	font-size: 21px;
	margin-bottom: 15px;
}

.hotel-result-details .flight-filter .filter h4 {
	background: #00206A;
	color: #FFF;
	padding: 8px 15px;
}

.hotel-result-details .flight-filter .filter h4 i {
	color: #fa9e1b;
}

.filter {
	border: 1px solid #CCC;
	margin-bottom: 20px;
	box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.1);
	border-bottom: 2px solid #fa9e1b;
}

.filter:hover {
	box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.2);
}

.filter .slider-time,
.filter .slider-time2 {
	color: #fff;
	font-size: 14px;
	line-height: 1.333;
	text-shadow: none;
	padding: 1px 5px;
	background: #fa9e1b;
	border-radius: 3px;
	margin-bottom: 10px;
}

.filter .inner-filter {
	padding: 10px 20px;
}

.checkcontainer {
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 15px;
	font-weight: 600;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #00206A;
}

.checkcontainer input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkcontainer input:checked ~ .checkmark {
	background-color: #fa9e1b;
	border: 1px solid #f29410;
}

.checkmark {
	position: absolute;
	top: 3px;
	left: 0;
	height: 18px;
	width: 18px;
	background-color: #FFF;
	border: 1px solid #CCC;
	border-radius: 3px;
}

.checkcontainer input:checked ~ .checkmark:after {
	display: block;
}

.checkcontainer .checkmark:after {
	left: 5px;
	top: 1px;
	width: 6px;
	height: 11px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
.hotel-result-modify {
	margin: 30px 0px 0px;
	display: none;
}
.hotel-result-modify .search_panel {
	padding: 30px 30px 45px;
	border-radius: 10px;
}
.hotel-result-modify .search {
	position: relative;
	top: 0;
}
.hotel-result-list {
	background: #FFF;
	border: 1px solid #CCC;
	border-bottom: 3px solid #fa9e1b;
	box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
}
.hotel-result-list .hotel-result-content .loc {
	color: #CCC;
}
.hotel-result-list .hotel-img {
	padding: 15px 0px 15px 15px;
}
.hotel-result-list .hotel-result-content {
	padding: 15px 0px 0px;
	color: #000;
}
.hotel-result-list .hotel-result-content .hotel-title {
	color: #00206A;
	font-size: 20px;
}
.hotel-result-list .hotel-result-content .hotel-title .fa-star
{
	color: #FFD700;
}
.hotel-result-list .hotel-result-content .loc {
	color: #777;
}
.hotel-result-list .hotel-result-content .hotel-services {
	margin: 20px 0px 10px;
}
.hotel-result-list .hotel-result-content .hotel-services li {
	display: inline-block;
	color: #000;
	margin-left: 10px;
}
.hotel-result-list .hotel-result-content .hotel-services li:nth-child(1) {
	margin-left: 0px;
}

.hotel-result-list .hotel-result-content .more-options p span {
	color: #fa9e1b;
}
.hotel-result-list .hotel-result-content .more-options p {
	color: #00206A;
	font-weight: 600;
}
.hotel-result-list .hotel-result-content .search-filter a {
	padding: 5px 7px;
	border-radius: 4px;
	background: #fa9e1b;
	font-size: 12px;
	color: #FFF;
}
.hotel-result-list .hotel-result-price small {
	color: #000;
}
.hotel-result-list .hotel-result-price {
	text-align: right;
	height: 100%;
	border-left: 2px solid #CCC;
	background: #FFF4e7;
	padding: 60px 15px;
}
.hotel-result-list .hotel-result-price .price i {
	color: #fa9e1b;
	font-size: 33px;
}
.hotel-result-list .hotel-result-price .price {
	color: #00206A;
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 0px;
}
.hotel-result-list .hotel-result-price .strike-price {
	margin-bottom: 0px;
}
.hotel-result-list .hotel-result-price .strike-price i {
	color: #9b9b9b;
}
.hotel-result-list .hotel-result-content .hotel-services li i {
	color: #00206A;
	font-size: 18px;
}
@media only screen and (max-width:992px) {
	.hotel-result-list .col-md-3 {
		width: 25%;
	}
	.hotel-result-list .col-md-6 {
		width: 50%;
	}
	.hotel-result-list .hotel-result-content .nearby {
		font-size: 12px;
	}
	.hotel-result-list .hotel-result-content .hotel-title {
		font-size: 14px;
	}
	.hotel-result-list .hotel-result-content .nearby {
		font-size: 12px;
	}
	.hotel-result-list .hotel-result-content .hotel-services li {
		font-size: 12px;
	}
	.hotel-result-list .hotel-result-content .hotel-services li i {
		font-size: 12px;
	}
	.hotel-result-list .hotel-result-content .hotel-services {
		margin: 10px 0px 0px;
	}
	.hotel-result-list .hotel-result-content .hotel-services li {
		margin-bottom: 5px;
		margin-left: 5px;
	}
	.hotel-result-list .hotel-result-content .more-options p {
		font-size: 12px;
		font-weight: 500;
	}
	.hotel-result-list .hotel-result-price {
		padding: 10px 5px;
	}
	.hotel-result-list .col-md-3,
	.hotel-result-list .col-md-6 {
		padding-left: 5px;
		padding-right: 5px;
	}
	.hotel-result-list .col-md-3,
	.hotel-result-list .col-md-6 {
		padding-left: 5px;
		padding-right: 5px;
	}
	.hotel-result-list .hotel-result-price .price i {
		font-size: 22px;
	}
	.hotel-result-list .hotel-result-price .price {
		font-size: 20px;
	}
	.hotel-result-list .hotel-result-price .strike-price {
		font-size: 16px;
	}
	.search {
		padding: 100px 0px 0px !important;
	}
	.hotel-result-list {
		padding: 0px 10px;
	}
	#res-two {
		order: 2;
	}
	#res-one {
		order: 1;
	}
	.res-none {
		display: none;
	}
	.title-bar .col-md-2 {
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
	.res-mb-20 {
		margin-bottom: 20px;
	}
	.flight-book-list .col-md-2
	{
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}
	.flight-book-list .col-md-3
	{
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.flight-book-list .col-md-8
	{
		
	}
	.title-book-bar .col-md-3
	{
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.title-book-bar .col-md-2
	{
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}
	.flight-book-details .title-book-bar .bar-heading h5
	{
		font-size:15px;
	}
}
/* Hotel Result */
/* Flight Book */
.flight-book .intro
{
	padding-top:0px;
	padding-bottom:50px;
}
.flight-book-breadcrumb {
	background: linear-gradient(to right, #002c, #8d4fff) !important;
	background:rgb(78, 36, 154) ;
	padding: 15px 5px;
}

.flight-book-breadcrumb h4 i {
	color: #fa9e1b;
	margin-right: 5px;
	font-size: 20px;
}

.flight-book-breadcrumb h4 {
	color: #FFF;
	font-size: 18px;
	line-height: 46px;
	margin-bottom: 0px;
}
.flight-book-breadcrumb .btn
{
	border-radius: 27px;
	color: #FFF;
	padding: 10px 46px;
	line-height: 26px;
	cursor: pointer;
}
.flight-book-breadcrumb .btn-refundable {
	background: green;
}
.flight-book-breadcrumb .btn-non-refundable {
	background: red;
}

.flight-book-breadcrumb .btn:hover {
	opacity: 0.9;
}
.flight-book-breadcrumb .flight-i {
	color: #fa9e1b;
	font-size: 45px;
	margin-right: 0px;
}
.flight-book-details {
    padding: 30px 5px;
}
.flight-book-details .title-book-bar
{
	background:#fa9e1b;
	padding:8px 15px;
	border-radius: 4px;
	margin-bottom:20px;
}
.flight-book-details .title-book-bar .bar-heading h5
{
	font-size:18px;
	color:#FFF;
	font-weight:600;
	text-align:center;
	margin-bottom:0px;
}
.flight-book-list
{
	background:#FFF;
	text-align:center;
	border:1px solid #CCC;
	padding:10px 15px;
	border-bottom: 3px solid #00206A;
    box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.1);
	margin-bottom:20px;
}
.flight-book-list .col-md-2, .flight-book-list .col-md-8, .title-book-bar .col-md-2, .flight-book-list .col-md-1, .title-book-bar .col-md-3
{
	padding-left:3px;
	padding-right:3px;
}
.flight-book-list p
{
	margin-bottom:5px;
	color:#000;
	line-height:20px;
}
.flight-book-list .flight-name .flight-logo
{
	height:25px;
	margin:0 auto;
	margin-bottom:5px;
}
.flight-book-list .flight-depart .fa-plane
{
	color:#fa9e1b;
	font-size:30px;
}
.flight-book-list .flight-depart .flight-depart-heading, .flight-book-list .flight-arrival .flight-arrival-heading, .flight-book-list .flight-duration .flight-duration-heading
{
	font-weight:600;
}
.flight-book-list .flight-border
{
	border-bottom:2px solid #CCC;
	padding-bottom: 10px;
    margin-bottom: 20px;
}
.flight-book-list .flight-depart .flight-depart-text, .flight-book-list .flight-arrival .flight-arrival-text
{
	color:#00206A;
	font-weight:600;
}
.flight-book-list .flight-name .flight-name-heading
{
	color:#00206A;
	font-weight:600;
}
.flight-book-list .flight-fare
{
	text-align:left;
	border-top:1px solid #CCC;
	padding-top:8px;
}
.flight-book-list .flight-fare .fare-rules
{
	color:#00206A;
	font-size:13px;
	font-weight:600;
	text-align:left;
}
.flight-book-list .flight-fare .fare-rules span
{
	color:#000;
	font-weight:500;
}
.flight-book-list .flight-fare .fare-type.non-refundable
{
	color:red;
}
.flight-book-list .flight-fare .fare-type.refundable
{
	color:green;
}
.flight-book-list .flight-fare .fare-type
{
	font-size:13px;
	font-weight:600;
	text-align:right;
}
.booking-price
{
	border: 1px solid #CCC;
	margin-bottom:20px;
	box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.1);
	border-bottom:2px solid #fa9e1b;
}
.flight-book-price h3
{
	background: #fa9e1b;
    color: #FFF;
    padding: 6px 5px;
    text-align: center;
    border-radius: 4px;
	font-size: 21px;
	font-family: calibri;
    margin-bottom: 15px;
}
.flight-book-price .booking-price .traveller
{
	background:#00206A;
	color:#FFF;
	padding:8px 15px;
	text-align:center;
}
.flight-book-price .booking-price:hover
{
	box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.2);
}
.flight-book-price .booking-price .inner-box
{
	padding:10px 20px;
}
.flight-book-price .booking-price .inner-box .flight-total-price .air-fare-border
{
	border-top:1px solid #fa9e1b;
	border-bottom:1px solid #fa9e1b;
	padding:8px 0px;
}
.flight-book-price .booking-price .inner-box .flight-total-price .inner-div
{
	margin-bottom:15px;
}
.flight-book-price .booking-price .inner-box .flight-total-price .left-price
{
	color:#000;
}
.flight-book-price .booking-price .inner-box .flight-total-price .inner-div .right-price i
{
	color:#fa9e1b;
	font-size:14px;
}
.flight-book-price .booking-price .inner-box .flight-total-price .inner-div .right-price
{
	color:#00206A;
	float:right;
	font-weight:600;
	font-size:16px;
}
.flight-book-price .booking-price .inner-box .flight-total-price .inner-div .grand-total
{
	background:#1f0733;
	color:#FFF;
	padding: 6px 15px 7px;
	font-weight:600;
	font-size:22px;
	border-radius:3px;
}
.flight-book-price .booking-price .inner-box .flight-total-price .inner-div .grand-total .grand i
{
	color:#FFF;
}
.flight-book-price .booking-price .inner-box .flight-total-price .inner-div .grand-total .grand
{
	font-weight:600;
	font-size:22px;
	color:#FFF;
}
.flight-book-price .booking-price .inner-box .flight-total-price .inner-div .airfare i
{
	font-size:16px;
}
.flight-book-price .booking-price .inner-box .flight-total-price .inner-div .airfare
{
	font-size: 18px;
}
.flight-book-price .booking-price .inner-box .flight-total-price .inner-div .total-airfare
{
	font-weight:600;
	font-size: 17px;
}
.flight-book-price .booking-price .inner-box .flight-total-price .inner-div .travel-insurance, .flight-book-price .booking-price .inner-box .flight-total-price .inner-div .total-convenience-fee
{
	font-size:12px;
	color:#777;
}
/* Flight Book */
/* Flight Book - Traveller */
.flight-traveller .adult-details .p-10
{
	padding:10px;
}
.flight-traveller .adult-details h4
{
	background:#fa9e1b;
	padding:5px 15px;
	color:#FFF;
	margin-top:0px;
	margin-bottom:0px;
}
.flight-traveller .adult-details table th, .flight-traveller .adult-details table td
{
	padding:.5rem;
}
.flight-traveller .adult-details table th
{
	background:#00206A;
	color:#FFF;
}
.flight-traveller .adult-details table td
{
	color:#00206A;
}
.flight-traveller .adult-details table
{
	margin-bottom:0px;
}
.flight-traveller .adult-details
{
	border:1px solid #fa9e1b;
	width:100%;
}
.flight-traveller
{
	background:#FFF;
	border:1px solid #CCC;
	padding:10px 15px;
	border-bottom: 3px solid #00206A;
    box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.1);
	margin-bottom:20px;
}
.flight-traveller p
{
	color:#000;
}
.flight-traveller .input_field::-webkit-input-placeholder,
.flight-traveller .text_field::-webkit-input-placeholder
{
	color:#000 !important;
	font-size:14px;
}
.flight-traveller input::-moz-placeholder
{
	color:#000 !important;
	opacity:1 !important;
}
.flight-traveller input[type="text"]
{
	font-size:14px;
}
.flight-traveller .input_field
{
	width:100%;
	color:#000;
	border-bottom:2px solid #CCC;
}
.flight-traveller .form_submit_button
{
	margin-top:10px;
}
.flight-traveller h4
{
	color:#00206A;
	font-weight: 600;
}
.gst-checkbox p
{
	font-size: 12px;
}
.note
{
	font-size: 13px;
    padding: 10px 21px;
    background-color: rgba(0,32,106,0.7);
    border-radius: 5px;
}
.note p
{
	color:#FFF;
	margin-bottom:0px;
}
/* Flight Book - Traveller */
.mb-20
{
	margin-bottom:20px;
}
/* Hotel Book Breadcrumb */
.hotel-book .intro
{
	padding-top: 0px;
	padding-bottom: 50px;
}

.hotel-book-breadcrumb {
	background: linear-gradient(to right, #002c, #8d4fff);
	background:rgb(78, 36, 154) ;
	padding: 15px 5px;
}

.hotel-book-breadcrumb h4 i {
	color: #fa9e1b;
	margin-right: 5px;
	font-size: 20px;
}

.hotel-book-breadcrumb h4 {
	color: #FFF;
	font-size: 18px;
	line-height: 46px;
	margin-bottom: 0px;
}

.hotel-book-breadcrumb h4.flight-class {
	font-size: 16px;
}

.hotel-book-breadcrumb h4.flight-class:nth-child(2) {
	padding-left: 18px;
}

.hotel-book-breadcrumb h4 small {
	padding-left: 5px;
	padding-right: 5px;
	text-transform: uppercase;
	color: #cbb;
}

.hotel-book-breadcrumb h5 {
	margin-bottom: 0px;
	font-size: 17px;
}

.hotel-book-breadcrumb h5 small {
	color: #cbb;
}

.hotel-book-breadcrumb .btn-modify {
	background: #fa9e1b;
	border-radius: 27px;
	color: #FFF;
	padding: 10px 46px;
	line-height: 26px;
	cursor: pointer;
}

.hotel-book-breadcrumb .btn-modify:hover {
	opacity: 0.9;
}

.hotel-book-breadcrumb .bed {
	color: #fa9e1b;
	font-size: 45px;
	margin-right: 0px;
}
/* Hotel Book Breadcrumb */
/* Hotel Booking */
.hotel-book-price h3
{
	background: #fa9e1b;
    color: #FFF;
    padding: 6px 5px;
    text-align: center;
    border-radius: 4px;
    font-size: 21px;
    margin-bottom: 15px;
}
.hotel-book-price .hotel-price
{
	border: 1px solid #CCC;
	margin-bottom:20px;
	box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.1);
	border-bottom:2px solid #fa9e1b;
}
.hotel-book-price .hotel-price .room-type
{
	background:#00206A;
	color:#FFF;
	padding:8px 15px;
	text-align:center;
}
.hotel-book-price .hotel-price:hover
{
	box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.2);
}
.hotel-book-price .hotel-price .inner-box
{
	padding:10px 20px;
}
.hotel-book-price .hotel-price .inner-box .hotel-total-price .inner-div
{
	margin-bottom:15px;
}
.hotel-book-price .hotel-price .inner-box .hotel-total-price .left-price
{
	color:#000;
}
.hotel-book-price .hotel-price .inner-box .hotel-total-price .inner-div .room
{
	font-size:12px;
	color:#fa9e1b;
}
.hotel-book-price .hotel-price .inner-box .hotel-total-price .inner-div .room-amenities-img .amenities
{
	font-size:14px;
	color:#00206A;
	font-weight: 600;
}
.hotel-book-price .hotel-price .inner-box .hotel-total-price .inner-div .room-amenities-img .room-img
{
	height:50px;
	width:50px;
	object-fit:cover;
	border-radius: 50%;
}
.hotel-book-price .hotel-price .inner-box .hotel-total-price .inner-div .right-price i
{
	color:#fa9e1b;
	font-size:14px;
}
.hotel-book-price .hotel-price .inner-box .hotel-total-price .inner-div .right-price
{
	color:#00206A;
	float:right;
	font-weight:600;
	font-size:16px;
}
.hotel-book-price .hotel-price .inner-box .hotel-total-price .inner-div .hotel-book-btn
{
	background:#1f0733;
	color:#FFF;
	padding: 6px 15px 7px;
	font-weight:600;
	font-size:22px;
	border-radius:3px;
	width:100%;
	border:1px solid #1f0733;
	cursor:pointer;
}
.hotel-book-price .hotel-price .inner-box .hotel-total-price .room-amenities-height
{
	min-height:55px;
}
.hotel-book-price .hotel-price .inner-box .hotel-total-price .room-meal-price-height
{
	min-height:60px;
	margin-bottom:5px;
}
.hotel-book-price .hotel-price .inner-box .hotel-total-price .room-details
{
	color: #fa9e1b;
    font-weight: 600;
    font-size: 13px;
}
.hotel-book-price .hotel-price .inner-box .hotel-total-price .room-size .room
{
	color:#fa9e1b;
	font-weight: 600;
	font-family: calibri;
    font-size: 12px;
}
.room-details.text-right ~ p {
    font-family: calibri;
    font-size: 18px !important;
}
.hotel-book-price .hotel-price .inner-box .hotel-total-price .inner-div .room-meal-price
{
	border-top: 1px solid #fa9e1b;
    padding: 13px 0px 0px;
}
.hotel-book-price .hotel-price .inner-box .hotel-total-price .inner-div .room-meal-price label
{
    position: relative;
    padding-left: 10px;
    cursor: pointer;
}
.hotel-book-price .hotel-price .inner-box .hotel-total-price .inner-div .room-meal-price .meal-option:checked::after
{
	display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    content: '';
    background: #fa9e1b;
}
.hotel-book-price .hotel-price .inner-box .hotel-total-price .inner-div .room-meal-price .room-price .strike-inr
{
	color:#999;
}
.hotel-book-price .hotel-price .inner-box .hotel-total-price .inner-div .room-meal-price .room-price strike
{
	color:#999;
}
.hotel-book-price .hotel-price .inner-box .hotel-total-price .inner-div .room-meal-price .meal-option
{
	display: block;
    position: relative;
    width: 15px;
    height: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: #FFFFFF;
    border: 1px solid #fa9e1b;
    padding: 9px;
    margin-top: 3px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    float: left;
}
.hotel-book-price .hotel-price .inner-box .hotel-total-price .inner-div .room-meal-price
{
	font-weight:600;
	font-size: 17px;
}
.hotel-book-modify {
	margin: 30px 0px 0px;
	display: none;
}
.hotel-book-modify .search_panel {
	padding: 30px 30px 45px;
	border-radius: 10px;
}
.hotel-book-modify .search {
	position: relative;
	top: 0;
}
/* Hotel Booking */
/* Hotel Booking Details */
.hotel-book-details
{
	padding:30px 0px;
}
.hotel-book-list p
{
	color:#000;
	font-size: 15px;
	margin-bottom:5px;
	font-weight: 600;
}
.hotel-book-list p i
{
	color:#fa9e1b;
	font-size: 18px;
	margin-right: 8px;
}
.hotel-book-list .check-in-check-out i
{
	color:#fa9e1b;
	font-size: 18px;
}
.hotel-book-list .check-in-check-out
{
	color:#00206A;
	font-weight:600;
	margin-bottom: 10px;
    font-size: 16px;
}
.hotel-book-list .hotel-title i
{
	color:#1f0733;
}
.hotel-book-list .hotel-title
{
	background: #fa9e1b;
    color: #FFF;
    padding: 6px 15px;
    border-radius: 4px;
    font-size: 21px;
}
.about-hotel
{
	margin-bottom:15px;
	border-bottom:1px solid #CCC;
}
.about-hotel p
{
	font-size:16px;
	text-align:justify;
	color:#000;
}
.main-amenities
{
	margin-bottom:15px;
	border-bottom:1px solid #CCC;
}
.main-amenities .amenities .item i
{
	color:#fa9e1b;
	margin-right:7px;
}
.main-amenities .amenities .item
{
    font-size: 16px;
    font-weight: 500;
    align-items: center;
	color:#000;
	margin-bottom: 15px;
}
.main-amenities h3
{
	color:#00206A;
	font-size: 22px;
    font-weight: 600;
	margin-bottom: 15px;
}
.hotel-impo-details
{
	margin-bottom:15px;
	padding-bottom: 15px;
	border-bottom:1px solid #CCC;
}
.hotel-impo-details h3
{
	color:#00206A;
	font-size: 22px;
    font-weight: 600;
	margin-bottom: 15px;
}
.hotel-impo-details ul li:before
{
	content: "\f0da";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fa9e1b;
    font-size: 18px;
    position: absolute;
    top: 0px;
    left: 0;
}
.hotel-impo-details ul li
{
	position:relative;
	padding-left:20px;
	font-size:15px;
	color:#000;
	margin-bottom: 8px;
	line-height: 30px;
}
.invoice
{
	background: #f6f9fb;
	width: 100%;
    padding-top: 50px;
    padding-bottom: 55px;
}
/* Hotel Booking Details */
/* Invoice */

/* Invoice */
.social
{
	line-height:36px;
}
.dropdown-account {
  position: relative;
  display: inline-block;
}
.dropdown-content-account {
  display: none;
  position: absolute;
  background-color: #00206A;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content-account a {
  color: black;
  padding: 2px 10px;
  text-decoration: none;
  display: block;
  color:#FFF;
  border-bottom:1px solid #FFF;
  line-height:26px;
}
.dropdown-content-account a:hover
{
	background-color: #fa9e1b;
	color:#FFF;
}
.dropdown-account:hover .dropdown-content-account
{
	display: block;
}